kibana:
  elasticsearchHosts: "http://elasticsearch-master.logging.svc.cluster.local:9200"
  
  service:
    type: LoadBalancer
  port: 5601
  
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
  
  kibanaConfig:
    kibana.yml: |
      server.name: kibana
      server.host: 0.0.0.0
      elasticsearch.hosts: [ "http://elasticsearch-master:9200" ]
      xpack.security.enabled: false
      elasticsearch.ssl.verificationMode: none

  extraEnvs:
    - name: "ELASTICSEARCH_URL"
      value: "http://elasticsearch-master:9200"
    - name: "ELASTICSEARCH_HOSTS"
      value: "http://elasticsearch-master:9200"
