filebeat:
  daemonset:
    filebeatConfig:
      filebeat.yml: |
        filebeat.inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
          processors:
            - add_kubernetes_metadata:
                host: ${NODE_NAME}
                matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"
        
        output.elasticsearch:
          host: '${NODE_NAME}'
          hosts: '["http://elasticsearch-master.logging.svc.cluster.local:9200"]'
          indices:
            - index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"
  
  resources:
    requests:
      cpu: "100m"
      memory: "100Mi"
    limits:
      cpu: "200m"
      memory: "200Mi"
